*,
*::before,
*::after {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 20px;
    border: 1px solid #ddd;
  }
}

body {
  background-color: rgb(148 163 184);
  
}
