.App {

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  min-height: 100vh;

}

.selectWrapper {
  padding: 50px;
  width: 400px;
  display: flex;
  align-items: flex-end;
  gap: 100px;
}
